In [2]:
# We may have many rows that have duplicate addresses. E.g. if two businesses are located at the same address
# or if we just have some duplicate rows.

# This step removes those duplicates
# Note we'll want to keep these duplicate entries and add them back at the end of this stage

In [2]:
import pandas as pd

# from thefuzz import fuzz
# from thefuzz import process

In [4]:
df = pd.read_csv('data/formatted.csv', low_memory=False)
print('rows: ', len(df))

rows:  803584

In [5]:
print(len(df[df['longitude'].isnull()]))

598853

In [ ]:
df['latitude'].tail(30)

In [9]:
# Start by removing exact matches

# df = df.drop_duplicates(subset=['street_no','formatted_en', 'province'])
# df = df[(~df.duplicated(subset=['street_no','formatted_en', 'province'])) | df['street_no','formatted_en', 'province'].isna()]

# sort so that we keep records of the lat/lon if present
df.sort_values(['latitude'])
# this only seems to change the result by 20. Does that make sense? That suggests that pretty much all of the duplicates have the same lat/lon information

df_city = df[~df.duplicated(subset=['street_no','formatted_en', 'province', 'city'], keep='first') | df['street_no'].isna() | df['formatted_en'].isna() | df['province'].isna() | df['city'].isna()]
# df_province = df[~df.duplicated(subset=['street_no','formatted_en', 'province']) | df['street_no'].isna() | df['formatted_en'].isna() | df['province'].isna()]
# df_nogeo = df[~df.duplicated(subset=['street_no','formatted_en']) | df['street_no'].isna() | df['formatted_en'].isna()]

df_city_not = df[df.duplicated(subset=['street_no','formatted_en', 'province', 'city'], keep='first') | df['street_no'].isna() | df['formatted_en'].isna() | df['province'].isna() | df['city'].isna()]

df_city_not = df[df.duplicated('cost') | ~df.duplicated('cost', keep=False)]


# FOR TESTING create a dataframe of duplicates for inspection

print('rows: ', len(df_city))
print(len(df_city) + len(df_city_not))
# print('rows: ', len(df_province))
# print('rows: ', len(df_nogeo))
# if (province_code == 'QC'):
#     df = df.drop_duplicates(subset=['street_no','formatted_fr'])
# else:
#     df = df.drop_duplicates(subset=['street_no','formatted_en'])

rows:  484011
914435

In [20]:
duplicates = df[df.duplicated(subset=['street_no','formatted_en', 'province', 'city'], keep=False)]

In [ ]:
duplicates = duplicates.sort_values(['street_no','formatted_en', 'province', 'city'])
duplicates[['street_no','formatted_en', 'province', 'city']].head(30)

In [18]:
# how many to geocode?
print(len(df_city[df_city['latitude'].isnull()]))

398644

In [8]:
df_city['province'].unique()

array(['BC', 'AB', 'NB', 'ON', nan, 'QC', 'MB', 'SK', 'NS', '78', 'YT',
       'NL', 'LAKEVIEW ESTATES', 'NT', 'NU', 'PE'], dtype=object)

In [12]:
df_city[(df_city['province'] == 'LAKEVIEW ESTATES') | (df_city['province'] == '78')]

,idx,localfile,business_name,business_sector,business_subsector,business_description,business_id_no,licence_number,licence_type,primary_NAICS,...,LP_Unit,LP_street_no_alt,LP2_unit,LP2_street_no,spill,LP3_unit,parsing_err_exists,flagged_parsing_err,formatted_en,formatted_fr
101179,7a122c15a250341d251a,BC_Vancouver_Business_Licences.csv,Post The Butcher Inc,Office,Broker,NaN,NaN,19-138327,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN
184292,69139e8fad512fe66792,BC_Vancouver_Business_Licences.csv,(Naoko Winther),Health Services,Counselling,NaN,NaN,22-123793,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN

In [36]:
len(df)

803584

In [35]:
df['full_address'].isna().sum()

0

In [ ]:
list(df)