In [30]:


import pandas as pd
import numpy as np
import math


df = pd.read_csv("/home/jovyan/ODBiz/6-AssignCSDs/Test/4-ODBiz_merged_2022-07-28-Copy1.csv", low_memory=False)

# STEP 1
# copy over NAICS values that already exist in the data


# This fills all the null values in the columns with 10 for analysis
df.primary_NAICS.fillna(value=10, inplace=True)


#df['primary_NAICS'] = df['primary_NAICS'].abs() 



df['NAICS_Group'] = df.index.astype(str).str[:2]

''' 
def first_two(d):
    return (d // 10 ** (int(math.log(d,10)) - 1))


# print new column with only first two digits
df['NAICS_Group'] = df.primary_NAICS.apply(first_two)

''' 

# returns the 10 values back to null
df['primary_NAICS'] = df['primary_NAICS'].replace(10, '')
df['NAICS_Group'] = df['NAICS_Group'].replace(10, np.nan)


# STEP 2
# find the NAICS numbers that
# were put in business_sector column


agri = '11'
mining = '21'
uti = '22'
cons = '23'
mani = '31-33'
whole = '41'
retail = '44-45'
trans = '48-49'
info = '51'
fin = '52'
real = '53'
prof = '54'
mang = '55'
admin = '56'
edu = '61'
health = '62'
arts = '71'
acco = '72'
other = '81'
pub = '91'


df.loc[df['business_sector'].str.contains(agri, case= False, na= False), 'NAICS_Group']= 11.0
df.loc[df['business_sector'].str.contains(mining, case = False, na = False), 'NAICS_Group' ] = 21.0
df.loc[df['business_sector'].str.contains(uti, case = False, na = False), 'NAICS_Group' ] = 22.0
df.loc[df['business_sector'].str.contains(cons, case = False, na = False), 'NAICS_Group' ] = 23.0
df.loc[df['business_sector'].str.contains(mani, case = False, na = False), 'NAICS_Group' ] = 31.0
df.loc[df['business_sector'].str.contains(whole, case = False, na = False), 'NAICS_Group' ] = 41.0
df.loc[df['business_sector'].str.contains(retail, case = False, na = False), 'NAICS_Group' ] = 44.0
df.loc[df['business_sector'].str.contains(trans, case = False, na = False), 'NAICS_Group' ] = 48.0
df.loc[df['business_sector'].str.contains(info, case = False, na = False), 'NAICS_Group' ] = 51.0
df.loc[df['business_sector'].str.contains(fin, case = False, na = False), 'NAICS_Group' ] = 52.0
df.loc[df['business_sector'].str.contains(real, case = False, na = False), 'NAICS_Group' ] = 53.0
df.loc[df['business_sector'].str.contains(prof, case = False, na = False), 'NAICS_Group' ] = 54.0
df.loc[df['business_sector'].str.contains(mang, case = False, na = False), 'NAICS_Group' ] = 55.0
df.loc[df['business_sector'].str.contains(admin, case = False, na = False), 'NAICS_Group' ] = 56.0
df.loc[df['business_sector'].str.contains(edu, case = False, na = False), 'NAICS_Group' ] = 61.0
df.loc[df['business_sector'].str.contains(health, case = False, na = False), 'NAICS_Group' ] = 62.0
df.loc[df['business_sector'].str.contains(arts, case = False, na = False), 'NAICS_Group' ] = 71.0
df.loc[df['business_sector'].str.contains(acco, case = False, na = False), 'NAICS_Group' ] = 72.0
df.loc[df['business_sector'].str.contains(other, case = False, na = False), 'NAICS_Group' ] = 81.0
df.loc[df['business_sector'].str.contains(pub, case = False, na = False), 'NAICS_Group' ] = 91.0


#df.to_csv('/home/jovyan/ODBiz/6-AssignCSDs/Test/Filtred_NAICS.csv',index=False)
df.to_csv('/home/jovyan/ODBiz/6-AssignCSDs/Test/1PLA.csv', index=False)

In [ ]:


import pandas as pd
import numpy as np
import math


data = pd.read_csv("/home/jovyan/ODBiz/6-AssignCSDs/Test/4-ODBiz_merged_2022-07-28-Copy1.csv", low_memory=False)



# number of csv files along with the row
k = 4
size = len(data)//4

for i in range(k):
    df = data[size*i:size*(i+1)]

    df.to_csv(f'Test{i+1}.csv', index=False)

#file1 = pd.read_csv("Test1.csv", low_memory=False)
#print(file1)

#file2 = pd.read_csv("Test2.csv", low_memory=False)
#print(file2)
#file3 = pd.read_csv("Test3.csv", low_memory=False)

file4 = pd.read_csv("Test4.csv", low_memory=False)

In [3]:

import pandas as pd
import numpy as np
import math


df = pd.read_csv("/home/jovyan/ODBiz/5a-Matching/output/matched.csv", low_memory=False)

# STEP 1
# copy over NAICS values that already exist in the data


# This fills all the null values in the columns with 10 for analysis
#df.primary_NAICS.fillna(value=10, inplace=True)



df['NAICS_Group'] = df.primary_NAICS.astype(str).str[:2]


''' 
df[['primary_NAICS']] = df[['primary_NAICS']].apply(pd.to_numeric)
df['primary_NAICS'] = df['primary_NAICS'].multiply(10)
df['primary_NAICS'] = df['primary_NAICS'].abs() 




def first_two(d):
    return (d // 10 ** (int(math.log(d,10)) - 1))


# print new column with only first two digits
df['NAICS_Group'] = df.primary_NAICS.apply(first_two)


''' 
# returns the 10 values back to null
#df['primary_NAICS'] = df['primary_NAICS'].replace(10, '')
df['NAICS_Group'] = df['NAICS_Group'].replace('na', np.nan)


# STEP 2
# find the NAICS numbers that
# were put in business_sector column


agri = '11'
mining = '21'
uti = '22'
cons = '23'
mani = '31-33'
whole = '41'
retail = '44-45'
trans = '48-49'
info = '51'
fin = '52'
real = '53'
prof = '54'
mang = '55'
admin = '56'
edu = '61'
health = '62'
arts = '71'
acco = '72'
other = '81'
pub = '91'


df.loc[df['business_sector'].str.contains(agri, case= False, na= False), 'NAICS_Group']= 11.0
df.loc[df['business_sector'].str.contains(mining, case = False, na = False), 'NAICS_Group' ] = 21.0
df.loc[df['business_sector'].str.contains(uti, case = False, na = False), 'NAICS_Group' ] = 22.0
df.loc[df['business_sector'].str.contains(cons, case = False, na = False), 'NAICS_Group' ] = 23.0
df.loc[df['business_sector'].str.contains(mani, case = False, na = False), 'NAICS_Group' ] = 31.0
df.loc[df['business_sector'].str.contains(whole, case = False, na = False), 'NAICS_Group' ] = 41.0
df.loc[df['business_sector'].str.contains(retail, case = False, na = False), 'NAICS_Group' ] = 44.0
df.loc[df['business_sector'].str.contains(trans, case = False, na = False), 'NAICS_Group' ] = 48.0
df.loc[df['business_sector'].str.contains(info, case = False, na = False), 'NAICS_Group' ] = 51.0
df.loc[df['business_sector'].str.contains(fin, case = False, na = False), 'NAICS_Group' ] = 52.0
df.loc[df['business_sector'].str.contains(real, case = False, na = False), 'NAICS_Group' ] = 53.0
df.loc[df['business_sector'].str.contains(prof, case = False, na = False), 'NAICS_Group' ] = 54.0
df.loc[df['business_sector'].str.contains(mang, case = False, na = False), 'NAICS_Group' ] = 55.0
df.loc[df['business_sector'].str.contains(admin, case = False, na = False), 'NAICS_Group' ] = 56.0
df.loc[df['business_sector'].str.contains(edu, case = False, na = False), 'NAICS_Group' ] = 61.0
df.loc[df['business_sector'].str.contains(health, case = False, na = False), 'NAICS_Group' ] = 62.0
df.loc[df['business_sector'].str.contains(arts, case = False, na = False), 'NAICS_Group' ] = 71.0
df.loc[df['business_sector'].str.contains(acco, case = False, na = False), 'NAICS_Group' ] = 72.0
df.loc[df['business_sector'].str.contains(other, case = False, na = False), 'NAICS_Group' ] = 81.0
df.loc[df['business_sector'].str.contains(pub, case = False, na = False), 'NAICS_Group' ] = 91.0


#df.to_csv('/home/jovyan/ODBiz/6-AssignCSDs/Test/Filtred_NAICS.csv',index=False)
df.to_csv('/home/jovyan/ODBiz/6-AssignCSDs/Test/PLA.csv', index=False)

In [4]:
# STEP 3
# - find the the EXACT NAICS description
# that is in the business
# description column
# - we fill the empty values
# in our new NAICS_Group column in
# with the buisness description values
# - split business description by the deliminator '/'
# and keep the first part to use for an exact key-phrase match


df['NAICS_Group'].fillna(df.business_description.str.split('/').str[0], inplace= True)



agri = '(Agriculture, forestry, fishing & hunting)'
mining = '(Mining, quarrying, & oil & gas extraction)'
uti = '(Utilities)'
cons = '(Construction)'
manu = '(Manufacturing)'
whole = '(Wholesale trade)'
retail = "(Retail trade)"
trans = '(Transportation & warehousing)'
info = '(Information & cultural industries)'
fin = '(Finance & insurance)'
real = '(Real estate & rental & leasing)'
prof = '(Professional, scientific & technical services)'
mang = '(Management of companies & enterprises)'
admin = '(Administrative & support, waste management & remediation services)|(Admin. support waste mgmt & remed. services)|(Admin., support, waste mgmt & remed. services )'
edu = '(Educational services)'
health = '(Health care & social assistance)'
arts = '(Arts, entertainment & recreation)'
acco = '(Accommodation & food services)'
other = '(Other services \(exc. Public administration\))'
pub = '(Public administration)'


df.loc[df['NAICS_Group'].str.match(agri, case= False, na= False), 'NAICS_Group'] = 11.0
df.loc[df['NAICS_Group'].str.match(mining, case= False, na= False), 'NAICS_Group'] = 21.0
df.loc[df['NAICS_Group'].str.match(uti, case= False, na= False), 'NAICS_Group'] = 22.0
df.loc[df['NAICS_Group'].str.match(cons, case= False, na= False), 'NAICS_Group'] = 23.0
df.loc[df['NAICS_Group'].str.match(manu, case= False, na= False), 'NAICS_Group'] = 31.0
df.loc[df['NAICS_Group'].str.match(whole, case= False, na= False), 'NAICS_Group'] = 41.0
df.loc[df['NAICS_Group'].str.match(retail, case= False, na= False), 'NAICS_Group'] = 44.0
df.loc[df['NAICS_Group'].str.match(trans, case= False, na= False), 'NAICS_Group'] = 48.0
df.loc[df['NAICS_Group'].str.match(info, case= False, na= False), 'NAICS_Group'] = 51.0
df.loc[df['NAICS_Group'].str.match(fin, case= False, na= False), 'NAICS_Group'] = 52.0
df.loc[df['NAICS_Group'].str.match(real, case= False, na= False), 'NAICS_Group'] = 53.0
df.loc[df['NAICS_Group'].str.match(prof, case= False, na= False), 'NAICS_Group'] = 54.0
df.loc[df['NAICS_Group'].str.match(mang, case= False, na= False), 'NAICS_Group'] = 55.0
df.loc[df['NAICS_Group'].str.match(admin, case= False, na= False), 'NAICS_Group'] = 56.0
df.loc[df['NAICS_Group'].str.match(edu, case= False, na= False), 'NAICS_Group'] = 61.0
df.loc[df['NAICS_Group'].str.match(health, case= False, na= False), 'NAICS_Group'] = 62.0
df.loc[df['NAICS_Group'].str.match(arts, case= False, na= False), 'NAICS_Group'] = 71.0
df.loc[df['NAICS_Group'].str.match(acco, case= False, na= False), 'NAICS_Group'] = 72.0
df.loc[df['NAICS_Group'].str.match(other, case= False, na= False), 'NAICS_Group'] = 81.0
df.loc[df['NAICS_Group'].str.match(pub, case= False, na= False), 'NAICS_Group'] = 91.0


#df.to_csv('/home/jovyan/ODBiz/6-AssignCSDs/Test/Filtred_NAICS.csv', index=False)

df.to_csv('/home/jovyan/ODBiz/6-AssignCSDs/Test/PLA.csv', index= False)

In [5]:
# STEP 4
# - we are now going to copy all
# the NAICS values that we have
# found into a seperate column
# because we know they are
# the for sure accurate ones
# - also going to get rid of
# anything that is not a number


df['NAICS'] = df['NAICS_Group']

df['NAICS'] = (pd.to_numeric(df['NAICS'], errors= 'coerce').fillna(''))

#df.to_csv('/home/jovyan/ODBiz/6-AssignCSDs/Test/Filtred_NAICS.csv', index=False)
df.to_csv('/home/jovyan/ODBiz/6-AssignCSDs/Test/PLA.csv', index=False)

In [6]:
import pandas as pd
import numpy as np
import math


data = pd.read_csv("/home/jovyan/ODBiz/6-AssignCSDs/Test/PLA.csv", low_memory=False)


count_unique = data['idx'].nunique()     
count_n = data['NAICS'].nunique()   

count_n = data.groupby('province')['NAICS'].count() 

count = data.groupby('province')['idx'].count() 

tot = data['idx']
tot_n = data['NAICS']

print(count)            
print(count_unique)
print(count_n)            
print(count_n)
print(tot)
print(tot_n)

province
78                       1
AB                   77097
BC                  232465
LAKEVIEW ESTATES         1
MB                     224
NB                     155
NL                      33
NS                      46
NT                    1563
NU                     223
ON                  243590
PE                       5
QC                  244527
SK                     168
YT                      13
Name: idx, dtype: int64
803491
province
78                      0
AB                   2615
BC                  38896
LAKEVIEW ESTATES        0
MB                    158
NB                     31
NL                     28
NS                     35
NT                     99
NU                     48
ON                  82148
PE                      3
QC                    276
SK                    110
YT                      6
Name: NAICS, dtype: int64
province
78                      0
AB                   2615
BC                  38896
LAKEVIEW ESTATES        0
MB                    158
NB                     31
NL                     28
NS                     35
NT                     99
NU                     48
ON                  82148
PE                      3
QC                    276
SK                    110
YT                      6
Name: NAICS, dtype: int64
0         43001f90eb186ce721d1
1         8206f36af22e46a365c2
2         e3500c84e808f4f563f8
3         64733d5fad76816d0138
4         3a2812701630893c2180
                  ...
803486    bff0ac01999d11e1665d
803487    c370f3a68831eaed091b
803488    a0bc0f106500f748a573
803489    059d5420db37371eec18
803490    5d9d17ffffb0e6d343e2
Name: idx, Length: 803491, dtype: object
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
803486   NaN
803487   NaN
803488   NaN
803489   NaN
803490   NaN
Name: NAICS, Length: 803491, dtype: float64

In [9]:
# STEP 5
# in the empty fields that are
# left in our NAICS_Group column
# fill in values from subsector,
# sector and licence type (in that order)


df['NAICS_Group'].fillna(df['business_subsector'], inplace= True)
df['NAICS_Group'].fillna(df['business_sector'], inplace= True)
df['NAICS_Group'].fillna(df['licence_type'], inplace= True)


#df.to_csv('/home/jovyan/ODBiz/6-AssignCSDs/Test/Filtred_NAICS.csv', index=False)
df.to_csv('/home/jovyan/ODBiz/6-AssignCSDs/Test/PLA.csv', index= False)

In [10]:
# STEP 6
# using keywords fill in
# the rest of the cells with
# the corresponding code
# (least accurate/ still de-bugging)


agri = 'agriculture'
mining = 'mining'
uti = 'utilities'
cons = 'construction|building|contractors|cement|contractor|ecavating|excavating|excavation|installation'
mani = 'manifacturing|manufacturer|Manufacturing|mfg.|printing|printer|Manufacturer'
whole = 'wholesale|whlse.'
retail = 'retail|store|supplies|clothing|sales|dealer|pharmacy'
trans = 'transportation|courier|warehouse|warehousing|trucking'
info = 'information|publishing|animation|production'
fin = 'finance|bank|bookkeeping|broker|financial|currency|credit|insurance|investment'
real = 'apartment|property|hall|real|property'
prof = 'accountant|veterinarian|research|lawyer|law|advertising|architect|consulting|consultant|agent|counselling|publisher|design|development|engineer|solicitor|graphic'
mang = 'enterprises|Management'
admin = 'waste|administration|agency|cleaning|janitorial|security'
edu = 'educational|education|instruction|tutor|school|schools|training|teacher|tutoring'
health = 'health|Psychiatrist|pathologist|Therapies|therapy|Oculist|acupuncturist|chiropractor|dentist|clinic|denturist|Psychologist|doctor|RMT|pediatric|hospital|therapist|laboratory|physician|dental|psychological|Podiatrist|GASTROENTEROLOGIST|Physiotherapy|Optometrist'
arts = 'arts|studio|dance|entertainment|event|fitness|film|photographer'
acco = 'accommodation|restaurant|cafe|caterer|casino|dining|food|hotel|Bed and Breakfast|Restaurant|patio|liquor'
other = 'Auto|barber|beauty|repair|charitable|charity|association|spa|dating|Esthetician|personal|hairdresser|hairdressing|hair|massage'
pub = 'public'


df.loc[df['NAICS_Group'].str.contains(agri, case= False, na= False), 'NAICS_Group']= 11.0
df.loc[df['NAICS_Group'].str.contains(mining, case= False, na= False), 'NAICS_Group']= 21.0
df.loc[df['NAICS_Group'].str.contains(uti, case= False, na= False), 'NAICS_Group']= 22.0
df.loc[df['NAICS_Group'].str.contains(cons, case= False, na= False), 'NAICS_Group']= 23.0
df.loc[df['NAICS_Group'].str.contains(mani, case= False, na= False), 'NAICS_Group']= 31.0
df.loc[df['NAICS_Group'].str.contains(whole, case= False, na= False), 'NAICS_Group']= 41.0
df.loc[df['NAICS_Group'].str.contains(retail, case= False, na= False), 'NAICS_Group']= 44.0
df.loc[df['NAICS_Group'].str.contains(trans, case= False, na= False), 'NAICS_Group']= 48.0
df.loc[df['NAICS_Group'].str.contains(info, case= False, na= False), 'NAICS_Group']= 51.0
df.loc[df['NAICS_Group'].str.contains(fin, case= False, na= False), 'NAICS_Group']= 52.0
df.loc[df['NAICS_Group'].str.contains(real, case= False, na= False), 'NAICS_Group']= 53.0
df.loc[df['NAICS_Group'].str.contains(prof, case= False, na= False), 'NAICS_Group']= 54.0
df.loc[df['NAICS_Group'].str.contains(mang, case= False, na= False), 'NAICS_Group']= 55.0
df.loc[df['NAICS_Group'].str.contains(admin, case= False, na= False), 'NAICS_Group']= 56.0
df.loc[df['NAICS_Group'].str.contains(edu, case= False, na= False), 'NAICS_Group']= 61.0
df.loc[df['NAICS_Group'].str.contains(health, case= False, na= False), 'NAICS_Group']= 62.0
df.loc[df['NAICS_Group'].str.contains(arts, case= False, na= False), 'NAICS_Group']= 71.0
df.loc[df['NAICS_Group'].str.contains(acco, case= False, na= False), 'NAICS_Group']= 72.0
df.loc[df['NAICS_Group'].str.contains(other, case= False, na= False), 'NAICS_Group']= 81.0
df.loc[df['NAICS_Group'].str.contains(pub, case= False, na= False), 'NAICS_Group']= 91.0


#df.to_csv('/home/jovyan/ODBiz/6-AssignCSDs/Test/Filtred_NAICS.csv', index=False)
df.to_csv('/home/jovyan/ODBiz/6-AssignCSDs/Test/PLA.csv', index=False)

In [1]:
import pandas as pd
import numpy as np
import math


data_2 = pd.read_csv("/home/jovyan/ODBiz/6-AssignCSDs/Test/PLA.csv", low_memory=False)


number = [11.0, 21.0, 22.0, 23.0, 31.0, 32.0, 33.0, 41.0, 42.0, 44.0, 45.0, 48.0, 49.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 61.0, 62.0, 71.0, 72.0, 81.0, 91.0, 99.0]


data_2.NAICS_Group.isin(number)


data_2_number = data_2[data_2.NAICS_Group.isin(number)]









data_2_number.to_csv('/home/jovyan/ODBiz/6-AssignCSDs/Test/PLA_1.csv', index=False)

In [2]:

import pandas as pd
import numpy as np
import math


df = pd.read_csv("/home/jovyan/ODBiz/5a-Matching/output/matched.csv", low_memory=False)


count_unique = df['idx'].nunique()     

count = df.groupby('province')['idx'].count() 

tot = df['idx']







print(count)            
print(count_unique)
print(tot)

province
78                       1
AB                   77097
BC                  232465
LAKEVIEW ESTATES         1
MB                     224
NB                     155
NL                      33
NS                      46
NT                    1563
NU                     223
ON                  243590
PE                       5
QC                  244527
SK                     168
YT                      13
Name: idx, dtype: int64
803491
0         43001f90eb186ce721d1
1         8206f36af22e46a365c2
2         e3500c84e808f4f563f8
3         64733d5fad76816d0138
4         3a2812701630893c2180
                  ...
803486    bff0ac01999d11e1665d
803487    c370f3a68831eaed091b
803488    a0bc0f106500f748a573
803489    059d5420db37371eec18
803490    5d9d17ffffb0e6d343e2
Name: idx, Length: 803491, dtype: object

In [11]:
import pandas as pd
import numpy as np
import math


data_2 = pd.read_csv("/home/jovyan/ODBiz/6-AssignCSDs/Test/PLA.csv", low_memory=False)


count_unique = data_2['idx'].nunique()     
count_n = data_2['NAICS_Group'].nunique()   

count_n = data_2.groupby('province')['NAICS_Group'].count() 

count = data_2.groupby('province')['idx'].count() 

tot = data_2['NAICS_Group']



count_naics =data_2.groupby('province')['NAICS'].count()
print(count_naics)



print(count)            
print(count_unique)
print(count_n)            
print(count)
print(tot)

province
78                      0
AB                   2615
BC                  38896
LAKEVIEW ESTATES        0
MB                    158
NB                     31
NL                     28
NS                     35
NT                     99
NU                     48
ON                  82148
PE                      3
QC                    276
SK                    110
YT                      6
Name: NAICS, dtype: int64
province
78                       1
AB                   77097
BC                  232465
LAKEVIEW ESTATES         1
MB                     224
NB                     155
NL                      33
NS                      46
NT                    1563
NU                     223
ON                  243590
PE                       5
QC                  244527
SK                     168
YT                      13
Name: idx, dtype: int64
803491
province
78                       1
AB                   76902
BC                  232438
LAKEVIEW ESTATES         1
MB                     221
NB                     155
NL                      33
NS                      46
NT                    1563
NU                      52
ON                  243529
PE                       5
QC                   64594
SK                     167
YT                      13
Name: NAICS_Group, dtype: int64
province
78                       1
AB                   77097
BC                  232465
LAKEVIEW ESTATES         1
MB                     224
NB                     155
NL                      33
NS                      46
NT                    1563
NU                     223
ON                  243590
PE                       5
QC                  244527
SK                     168
YT                      13
Name: idx, dtype: int64
0         Other
1          48.0
2          48.0
3          48.0
4          23.0
          ...
803486     72.0
803487     23.0
803488     52.0
803489     44.0
803490     52.0
Name: NAICS_Group, Length: 803491, dtype: object