In [68]:
import pandas as pd

In [77]:
import requests
import pandas as pd
from zipfile import ZipFile
from io import BytesIO

r = requests.get("https://www150.statcan.gc.ca/n1/tbl/csv/33100395-eng.zip")
files = ZipFile(BytesIO(r.content))
df = pd.read_csv(files.open("33100395.csv"))

r = requests.get("https://www150.statcan.gc.ca/n1/tbl/csv/33100396-eng.zip")
files = ZipFile(BytesIO(r.content))
df2 = pd.read_csv(files.open("33100396.csv"))

In [55]:
# Province counts for number of businesses

df = df[df['Employment size'] == 'Total, with employees']
df_provinces = df[df['North American Industry Classification System (NAICS)'] == 'Total, all industries [1]']
df_provinces = df_provinces[['GEO', 'VALUE']]

# df2 = df2[df2['Employment size'] == 'Total, with employees']
df_provinces2 = df2[df2['North American Industry Classification System (NAICS)'] == 'Total, all industries [1]']
df_provinces2 = df_provinces2[['GEO', 'VALUE']]

In [56]:
result = pd.merge(df_provinces, df_provinces2, on="GEO")

In [57]:
result

                          GEO  VALUE_x  VALUE_y
0                      Canada  1291424  2961476
1   Newfoundland and Labrador    18849    22191
2        Prince Edward Island     6637    10531
3                 Nova Scotia    31189    50794
4               New Brunswick    25994    32273
5                      Quebec   268497   629442
6                     Ontario   475688  1169092
7                    Manitoba    42474    84192
8                Saskatchewan    42500   106771
9                     Alberta   170368   375968
10           British Columbia   205005   474749
11                      Yukon     1911     3076
12      Northwest Territories     1585     1768
13                    Nunavut      727      629

In [66]:
result.to_csv('br_province.csv', index=False)

In [78]:
# Counts by NAICS code for whole of Canada

df_naics = df[df['GEO'] == 'Canada']
df_naics2 = df2[df2['GEO'] == 'Canada']

In [79]:
df_naics = df_naics[['North American Industry Classification System (NAICS)', 'VALUE']]
# df_naics = df_naics.sort_values(['VALUE'], ascending=False)

df_naics2 = df_naics2[['North American Industry Classification System (NAICS)', 'VALUE']]
# df_naics2 = df_naics2.sort_values(['VALUE'], ascending=False)

In [80]:
result2 = pd.merge(df_naics, df_naics2, on="North American Industry Classification System (NAICS)")

In [87]:
result2['number'] = result2['VALUE_x'] + result2['VALUE_y']

In [88]:
result2 = result2.sort_values(['number'], ascending=False)

In [90]:
result2.head(200).to_csv('br_naics.csv', index=False)

In [92]:
df_dup = result2[result2.duplicated(subset=['North American Industry Classification System (NAICS)'], keep='first')]

In [93]:
df_dup.head(200).to_csv('br_naics_2.csv', index=False)

In [95]:
df

,REF_DATE,GEO,DGUID,Employment size,North American Industry Classification System (NAICS),UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2021-01,Canada,2016A000011124,"Total, with employees","Total, all industries [1]",Number,223,units,0,v1280848899,1.1.1,1291424,NaN,NaN,NaN,0
1,2021-01,Canada,2016A000011124,"Total, with employees",Unclassified [2],Number,223,units,0,v1280848900,1.1.2,83990,NaN,NaN,NaN,0
2,2021-01,Canada,2016A000011124,"Total, with employees","Sub-total, classified [3]",Number,223,units,0,v1280848901,1.1.3,1207434,NaN,NaN,NaN,0
3,2021-01,Canada,2016A000011124,"Total, with employees","Agriculture, forestry, fishing and hunting [11]",Number,223,units,0,v1280848902,1.1.4,48947,NaN,NaN,NaN,0
4,2021-01,Canada,2016A000011124,"Total, with employees","Mining, quarrying, and oil and gas extraction ...",Number,223,units,0,v1280848903,1.1.5,7952,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84922,2021-01,Nunavut,2016A000262,500 plus employees,Metal ore mining [2122],Number,223,units,0,v1281021170,14.9.147,3,NaN,NaN,NaN,0
84923,2021-01,Nunavut,2016A000262,500 plus employees,Technical and trade schools [6115],Number,223,units,0,v1281021411,14.9.388,1,NaN,NaN,NaN,0
84924,2021-01,Nunavut,2016A000262,500 plus employees,Iron ore mining [212210],Number,223,units,0,v1281021531,14.9.508,1,NaN,NaN,NaN,0
84925,2021-01,Nunavut,2016A000262,500 plus employees,Gold and silver ore mining [212220],Number,223,units,0,v1281021532,14.9.509,2,NaN,NaN,NaN,0
84926,2021-01,Nunavut,2016A000262,500 plus employees,Technical and trade schools [611510],Number,223,units,0,v1281022235,14.9.1212,1,NaN,NaN,NaN,0