In [1]:
# Data cleaning

# Todo
    # Sanity check each variable (range of values)
    # Remove unecessary columns


Cleaning:


1. Split df into QC and not QC (QC is not in the final public dataset therefor left for cleaning round 2) 

2. Title Case: street names, business names, sectors and country columns

3. In province column replace LAKEVIEW ESTATE and 78 with BC 

4. Add in provinces when known (grab from local_file column if need be)

5. Get rid of additional info in city column, everything after the comma (,)

6. Fix Toronto spellings

7. Check City column for city’s out of country

8. LAT/ LONG columns, check if in range for Canada  

9. Add in country if Canada – count how many are ‘outside’ of Canada

10. Make NAICS column only numbers and only one column (i.e. get rid off NAICS_Group column) 

11. Investigate if license numbers need leading zeros and get rid if them if not

12. Get rid of .0 in CSDUID column

13. Status column - unify language 

14. Check that street name and number were split up correctly

15. Nanaimo – duplicates? (‘out of business’)

16. Sanity check each column to make sure the info makes sense, if not get rid of the values

17. Get rid of the columns that we don't need

18. Standardize remaing column names

In [3]:
import pandas as pd
import numpy as np
import mitosheet

/opt/conda/lib/python3.8/site-packages/requests/__init__.py:102: RequestsDependencyWarning: urllib3 (1.26.7) or chardet (5.0.0)/charset_normalizer (2.0.9) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({})/charset_normalizer ({}) doesn't match a supported "

In [41]:
input_data = "/home/jovyan/ODBiz/6-AssignCSDs/NAICS_Final.csv"
df_input = pd.read_csv(input_data, low_memory=False, dtype="str")

In [42]:
df = df_input

In [43]:
df_toronto = df[df['city'] == 'TORONTO, ON']

In [44]:
len(df_toronto)

119239

In [58]:
mitosheet.sheet(df, analysis_to_replay="id-bqlpakblhf")

MitoWidget(analysis_data_json='{"analysisName": "id-bqlpakblhf", "analysisToReplay": null, "code": [], "stepSu…

In [ ]:
from mitosheet import *; register_analysis("id-lnofeejuxz");
    
# Filtered city
df_toronto = df_toronto[df_toronto['city'].apply(lambda val: all(val != s for s in ['ABBOTSFORD, BC', 'ACTON, ON', 'AJAX, ON', 'ALLENFORD, ON', 'ALTON, ON', 'ANCASTER, ON', 'ALLISTON, ON', 'ANGUS, ON', 'ASHBURN, ON', 'AURORA, ON', 'BAILIEBORO, ON', 'BALLINAFAD, ON', 'BANCROFT, ON', 'BARRIE, ON', 'BEAMSVILLE, ON', 'BEAVERTON, ON', 'BEETON, ON', 'BELLE EWART, ON', 'BELLEVILLE, ON', 'BINBROOK, ON', 'BLUE MOUNTAINS, ON', 'BOBCAYGEON, ON', 'BOLTON, ON', 'BOND HEAD, ON', 'BOUCHERVILLE, QC', 'BOWMANVILLE, ON', 'BRACEBRIDGE, ON', 'BRADFORD, ON', 'BRAMPTON, ON', 'BRANDFORD, ON', 'BRANTFORD, ON', 'BRECHIN, ON', 'BRESLAU, ON', 'BRINSTON, ON', 'ZEPHYR, ON', 'YOUNGS POINT, ON', 'WOODVILLE, ON', 'WROXETER, ON', 'WOODVIEW, ON', 'WOODSTOCK, ON', 'WOODBRIGE, ON', 'WOODBRIDGE, ON', 'WINDSOR, ON', 'WILLOW BEACH, ON', 'WIARTON, ON', 'WHTEVALE, ON', 'WHITBY, ON', 'WELLAND, ON', 'WATERLOO, ON', 'WATERDOWN, ON', 'WASAGA BEACH, ON', 'VICTORIA HARBOR, ON', 'VAUGHAN, ON', 'VICTORIA, BC', 'VANCOUVER, BC', 'VAL CARON, ON', 'UTTERSON, ON', 'UXBRIDGE, ON', 'UNKNOWN, ON', 'UNIONVILLE, ON', 'TROY, ON', 'TWEED, ON', 'TOTTENHAM, ON', 'TORONTO, ON', 'TORONT, ON', 'TORONOT, ON', 'TINY, ON', 'THUNDER BAY, ON', 'THORNHILL, ON', 'TERRA COTTA, ON', 'SUTTON, ON', 'SUTTON WEST, ON', 'SUNDRIDGE, ON', 'SUNDERLAND, ON', 'STOUFVILLE, ON', 'STRATFORD, ON', 'SUNDERLAND RR3, ON', 'STOUFVILLE RD, ON', 'STOUFFVILLE, ON', 'ST.CATHERINES, ON', 'STONEY CREEK, ON', 'ST THOMAS, ON', 'ST CATHERINES, ON', 'ST CATHARINES, ON', 'SOUTH ARKELL, ON', 'SMITHVILLE, ON', 'SARNIA, ON', 'SCHOMBERG, ON', 'SCOTLAND, ON', 'SEAGRAVE, ON', "SEELEY'S BAY, ON", 'SHANTY BAY, ON', 'SHELBURNE, ON', 'SIMCO, ON', 'SHARON, ON', 'SIMCOE, ON', 'SINGHAMPTON, ON', 'SANDFORD, ON', 'S.W. CALGARY, AB', 'RUTHVEN, ON', 'ROSEMONT, ON', 'ROCKWALL, TX', 'ROCKWOOD, ON', 'RIVER DRIVE PAR, ON', 'RICHMONDHILL, ON', 'QUEENSVILLE, ON', 'RICHMOND HILL, ON', 'QUEBEC, QC', 'QUALICUM BEACH, BC', 'PRINCE ALBERT, ON', 'PORT SYDNEY, ON', 'PUSLINCH, ON', 'PORT PERRY, ON', 'PORT HOPE, ON', 'PORT COQUITLAM, BC', 'PICTON, ON', 'PICKERING, ON', 'PHELPSTON, ON', 'PETERBOROUGH, ON', 'PENETANGUISHENE, ON', 'PENETANG, ON', 'PEFFERLAW, ON', 'PARRIS, ON', 'PARKSVILLE, BC', 'PARIS, ON', 'PALM DESERT, CA', 'PALGRAVE, ON', 'OWEN SOUND, ON', 'OTTAWA, ON', 'OAKVILLE, ON', 'NORVAL, ON', 'ODESSA, ON', 'OMEMEE R1, ON', 'ORANGEVILLE, ON', 'ORILLIA, ON', 'OMEMEE, ON', 'ORONO, ON', 'OSHAWA, ON', 'NORTH VANCOUVER, BC', 'NORTH GOWER, ON', 'NORTH CANTON US, ON', 'NORTH BAY, ON', 'NORLAND, ON', 'NOBLETON, ON', 'NOBEL, ON', 'NIAGARA ON THE LAKE, ON', 'NIAGARA FALLS, ON', 'NEWTONVILLE, ON', 'NEWMARKET, ON', 'NEWCASTLE, ON', 'NEW MARKET, ON', 'NESTLETON STN, ON', 'NAPANEE, ON', 'MURILLO, ON', 'MOUNT HOPE, ON', 'MOUNT ALBERT, ON', 'MOOREFIELD, ON', 'MONTREAL, QC', 'MONO, ON', 'MISSISSAUGA, ON', 'MISSISAUGA, ON', 'MINDEN, ON', 'MILTON, ON', 'MILLGROVE, ON', 'MIDLAND, ON', 'MIDHURST, ON', 'MEAFORD, ON', 'MATTAWA, ON', 'MARMORA, ON', 'MARKHAM, ON', 'MAPLE, ON', 'MANILLA, ON', 'LORETTO, ON', 'LONDON, ON', 'LOCUST HILLRR1, ON', 'LOCUST HILL RR1, ON', 'LITTLE BRITAIN, ON', 'LISBON 1600-136, PT', 'LINDSAY, ON', 'LIMEHOUSE, ON', 'KLEINBURG, ON', 'LAC LA HACHE, ON', 'LAVAL, QC', 'LEFROY, ON', 'LEVIS, QC', 'KELOWNA, BC', 'KESWICK, ON', 'KENDAL, ON', 'KETTLEBY, ON', 'KINCARDINE, ON', 'KING CITY, ON', 'KING, ON', 'KIRKFIELD, ON', 'KITCHENER, ON', 'KITCHNER, ON', 'KANATA, ON', 'JORDAN STATION, ON', 'INNISIL, ON', 'JANETVILLE, ON', 'INNISFIL, ON', 'INGLEWOOD, ON', 'HUNG TWEED, ON', 'HOLLAND LANDING, ON', 'HUBLEY, NS', 'HILLSDALE, ON', 'GREENWOOD, ON', 'GUELPH, ON', 'HAGERSVILLE, ON', 'HALTON HILLS, ON', 'HAMILTON, ON', 'HALIBURTON, ON', 'HANNON, ON', 'HARRISTON, ON', 'HAVELOCK, ON', 'HILLSBURGH, ON', 'FREELTON, ON', 'GEORGETOWN, ON', 'GEORGINA, ON', 'GILFORD, ON', 'GLEN WILLIAMS, ON', 'GOODERHAM, ON', 'GOODWOOD, ON', 'GORMLEY, ON', 'GRAND HAVEN, MI', 'GRAND VALLEY, ON', 'GRAVENHURST, ON', 'EAST GWILLIMBURY, ON', 'EDISON, ON', 'EDMONTON, AB', 'EGBERT, ON', 'ENNISMORE, ON', 'ERIN, ON', 'EVERETT, ON', 'FLAMBOROUGH, ON', 'EXETER, ON', 'FLESHERTON, ON', 'FRANKFORD, ON', 'FRASERVILLE, ON', 'COBOURG, ON', 'COLDWATER, ON', 'COLLINGWOOD, ON', 'CONCORD, ON', 'COOKSTOWN, ON', 'COURTICE, ON', 'CRANBERRY, PA', 'DORCHESTER, ON', 'DENFIELD, ON', 'DUNDALK, ON', 'DUNDAS, ON', 'DURHAM, ON', 'E GWILLIMBURY, ON', 'EAST GWILLIMBUR, ON', 'CHATHAM, ON', 'CHELTENHAM, ON', 'CLAREMONT, ON', 'CLARINGTON, ON', 'CHURCHILL, ON', 'COBOCONK, ON', 'CAESAREA, ON', 'CALEDON EAST, ON', 'CALEDON E, ON', 'CALEDON ONT, ON', 'CALEDON, ON', 'CALEDON VILLAGE, ON', 'CALEDONIA, ON', 'CALGARY, AB', 'CAMBRIDGE, ON', 'CAMERON, ON', 'CAMLACHIE, ON', 'CAMPBELLFORD, ON', 'CAMPBELLVILLE, ON', 'CEDAR VALLEY, ON', 'BROOKLIN, ON', 'BROSSARD, QC', 'BURLINGAME, CA', 'BURLINGTON, ON']))]

# Reordered column business_sector
df_toronto_columns = [col for col in df_toronto.columns if col != 'business_sector']
df_toronto_columns.insert(6, 'business_sector')
df_toronto = df_toronto[df_toronto_columns]

# Reordered column business_sector
df_toronto_columns = [col for col in df_toronto.columns if col != 'business_sector']
df_toronto_columns.insert(7, 'business_sector')
df_toronto = df_toronto[df_toronto_columns]

In [46]:
df_toronto['geo_source'].value_counts()

oda_match    95011
gc_match      9968
Name: geo_source, dtype: int64

In [47]:
df_toronto['geo_source'].isna().sum()

14260

In [48]:
# Number of records with lat/lons
len(df_toronto[~df_toronto['latitude'].isna()])

104979

In [51]:
# Number with NAICS codes assigned
len(df_toronto[~df_toronto['NAICS_Group'].isna()])

119239

In [20]:
df['localfile'].value_counts()

QC_Etablissements.csv                                       239231
ON_Toronto_Business_Licences.csv                            154420
BC_Vancouver_Business_Licences.csv                          125525
AB_Edmonton_Business_Licences.csv                            38574
ON_York_Region_Business_Directory.csv                        35001
AB_Calgary_Business_Licences.csv                             34327
BC_Burnaby_Business_Licences_2.csv                           17863
BC_Surrey_Business_Licences.csv                              17135
ON_Mississauga_Business_Directory.csv                        16518
BC_Kelowna_Business_Licence.csv                              10917
BC_Richmond_Based_Businesses.csv                             10676
BC_Liquor_licences.csv                                       10292
ON_Durham_Business_Directory.csv                              9934
ON_Pickering_Business_Directory.csv                           9934
ON_Brampton_Business_Directory.csv                            9834
BC_Victoria_Business_Licences.csv                             7108
BC_Langley_Business_Licences.csv                              6912
BC_Nanaimo_Business_Licences.csv                              6189
QC_Sherbrooke_Entreprises.csv                                 4997
BC_Prince_George_Business_Licence.csv                         4399
BC_New_Westminster_Business_Licences_(Residents).csv          3524
BC_Chilliwack_Business_Licences.csv                           3360
BC_Maple_Ridge_Business_Licences.csv                          3014
BC_Squamish_Business_Licence_Annual_2021.csv                  2721
Indigenous_Business_Directory.csv                             2492
AB_Strathcona_Business_Directory.csv                          2474
ON_Cambridge_Business_Directory.csv                           1898
ON_Greater_Sudbury_Business_Licences.csv                      1511
NT_Yellowknife_Business_Directory.csv                         1445
ON_Caledon_Business_Directory.csv                             1408
BC_Indigenous_Business_Listings.csv                           1259
ON_Hamilton_Licenced_Food_Establishments.csv                  1252
AB_Banff_Business_Licences.csv                                 942
ON_Welland_Business_Directory.csv                              941
BC_Burnaby_Business_Licences.csv                               905
ON_Hamilton_Licenced_Public_Garages.csv                        736
BC_Port_Moody_Business_Directory.csv                           694
BC_New_Westminster_Business_Licences_(Nonresidents).csv        635
ON_Hamilton_Licenced_Basic_Food_Shops.csv                      596
ON_Ottawa_Cultural_Businesses.csv                              489
BC_Wineries.csv                                                357
ON_oebd.csv                                                    249
NU_Indigenous_Business.csv                                     171
AB_Chestermere_Businesses.csv                                  138
BC_New_Westminster_Business_Licences_(New_this_Year).csv       132
ON_Hamilton_Licenced_Residential_Care_Facilities.csv            68
ON_Hamilton_Licenced_Second_Hand_Shops.csv                      53
NB_Moncton_Ph_Pharmacies.csv                                    47
NB_Moncton_Grocery_Stores.csv                                   46
ON_Ottawa_Street_Food_Vendors.csv                               36
ON_Hamilton_Licenced_Public_Halls.csv                           33
ON_Hamilton_Licenced_Salvage_Yards.csv                          22
ON_Hamilton_Licenced_Lodging_Houses.csv                         21
NB_Saint_John_Grocery_Stores.csv                                16
ON_Hamilton_Licenced_Places_of_Amusement.csv                    14
MB_Indigenous_AFOA.csv                                           4
ON_Hamilton_Licenced_Kennels_and_Pet_Shops.csv                   2
Name: localfile, dtype: int64

In [54]:
df['city'].value_counts()

TORONTO, ON          119239
Vancouver            109613
Montréal (Québec)     45806
Edmonton              38693
Calgary               34546
                      ...
CP h2g2h3                 1
CP h1p 1x7                1
CP h1m3v6                 1
CP h1e1p1                 1
Torreon Coahuila          1
Name: city, Length: 11124, dtype: int64

In [ ]:
df['province'].value_counts()

3. Replace Lakeview and 78 with BC

In [56]:
df['province'] = df['province'].str.replace('78','BC')

In [57]:
df['province'] = df['province'].str.replace('LAKEVIEW ESTATES','BC')

In [59]:
df['province'].value_counts()

QC    244527
ON    243590
BC    232467
AB     77097
NT      1563
MB       224
NU       223
SK       168
NB       155
NS        46
NL        33
YT        13
PE         5
Name: province, dtype: int64

1. Splittng up data into Quebec and not Quebec

In [69]:

# splitting the dataframe into two for easier cleaing, 
# it will be quebec_df (df_QC) and then 
# everything_else_df (df_not_QC)




#df_not_QC = df[df['province'] != 'QC']



df_not_QC = df.loc[df['province'] != 'QC'] 
df_QC = df[df['province'] == 'QC']


df_not_QC.to_csv('/home/jovyan/ODBiz/8-Cleaning/Not_QC.csv', index=False)
df_QC.to_csv('/home/jovyan/ODBiz/8-Cleaning/QC.csv', index=False)

In [4]:
in_data = "/home/jovyan/ODBiz/8-Cleaning/Not_QC.csv"
df_in = pd.read_csv(in_data, low_memory=False, dtype="str")


df=df_in

In [19]:
mitosheet.sheet(df, analysis_to_replay="id-rolycyogow")

MitoWidget(analysis_data_json='{"analysisName": "id-yxujtzyhhe", "analysisToReplay": {"analysisName": "id-roly…

5. Get rid of everything behind column in city column & change to title case

In [73]:
df['city'].value_counts()

Toronto, On         119239
Vancouver           111470
Edmonton             38693
Calgary              34546
Burnaby              21716
                     ...
Pabineau Falls           1
Red Bank Reserve         1
Rexton                   1
Rusagonis                1
Torreon Coahuila         1
Name: city, Length: 1537, dtype: int64

In [5]:
df['city'] = df['city'].str.title()

In [9]:
df['city'] = df['city'].str.split(',').str[0]

In [17]:
df.to_csv('/home/jovyan/ODBiz/8-Cleaning/Not_QC.csv', index=False)

8. LAT/LON check

In [79]:
df['latitude'].value_counts()

49.2927534771159     1976
53.522263             417
43.89051458121729     404
49.2822434350563      401
49.2834005265727      395
                     ...
49.19074793             1
49.19068709             1
49.19055852             1
49.19061083             1
49.19137883             1
Name: latitude, Length: 129654, dtype: int64

In [92]:
df['longitude'].value_counts(dropna=False)

NaN                   142110
-123.000015428837       1976
-113.618482              417
-78.87918226923033       404
-123.119500778402        401
                       ...
-119.41197                 1
-119.46659                 1
-123.117212799015          1
-119.41209                 1
-122.4762411               1
Name: longitude, Length: 134197, dtype: int64

In [ ]:
df['longitude'].sort_values()

In [ ]:
df=df[~df['latitude'].between(41.45,83)].

In [ ]:
df[~df['latitude'].stack().between(41.45,83).unstack()]
#.dropna(axis=1)

In [85]:
df['longitude'].count()

416854

2. Title case columns

In [16]:

# title  case columns

df['street_name'] = df['street_name'].str.title()
df['full_address'] = df['street_name'].str.title()
df['business_name'] = df['business_name'].str.title()
df['alt_business_name'] = df['alt_business_name'].str.title()
df['business_sector'] = df['business_sector'].str.title()
df['business_subsector'] = df['business_subsector'].str.title()
df['country'] = df['country'].str.title()

10. Get rid of everything that isn't a number in the NAICS column

In [18]:

# make NAICS column just numbers 



agri = '11.0'
mining = '21.0'
uti = '22.0'
cons = '23.0'
mani = '31.0'
man = '32.0'
manu = '33.0'
whole = '41.0'
whol = '42.0'
retail = '44.0'
retai = '45.0'
trans = '48.0'
tran = '49.0'
info = '51.0'
fin = '52.0'
real = '53.0'
prof = '54.0'
mang = '55.0'
admin = '56.0'
edu = '61.0'
health = '62.0'
arts = '71.0'
acco = '72.0'
other = '81.0'
pub = '91.0'






df.loc[df['NAICS_Group'].str.contains(agri, case= False, na= False), 'NAICS']= 11.0
df.loc[df['NAICS_Group'].str.contains(mining, case = False, na = False), 'NAICS' ] = 21.0
df.loc[df['NAICS_Group'].str.contains(uti, case = False, na = False), 'NAICS' ] = 22.0
df.loc[df['NAICS_Group'].str.contains(cons, case = False, na = False), 'NAICS' ] = 23.0
df.loc[df['NAICS_Group'].str.contains(mani, case = False, na = False), 'NAICS' ] = 31.0
df.loc[df['NAICS_Group'].str.contains(man, case = False, na = False), 'NAICS' ] = 32.0
df.loc[df['NAICS_Group'].str.contains(manu, case = False, na = False), 'NAICS' ] = 33.0
df.loc[df['NAICS_Group'].str.contains(whole, case = False, na = False), 'NAICS' ] = 41.0
df.loc[df['NAICS_Group'].str.contains(whol, case = False, na = False), 'NAICS' ] = 42.0
df.loc[df['NAICS_Group'].str.contains(retail, case = False, na = False), 'NAICS' ] = 44.0
df.loc[df['NAICS_Group'].str.contains(retai, case = False, na = False), 'NAICS' ] = 45.0
df.loc[df['NAICS_Group'].str.contains(trans, case = False, na = False), 'NAICS' ] = 48.0
df.loc[df['NAICS_Group'].str.contains(tran, case = False, na = False), 'NAICS' ] = 49.0
df.loc[df['NAICS_Group'].str.contains(info, case = False, na = False), 'NAICS' ] = 51.0
df.loc[df['NAICS_Group'].str.contains(fin, case = False, na = False), 'NAICS' ] = 52.0
df.loc[df['NAICS_Group'].str.contains(real, case = False, na = False), 'NAICS' ] = 53.0
df.loc[df['NAICS_Group'].str.contains(prof, case = False, na = False), 'NAICS' ] = 54.0
df.loc[df['NAICS_Group'].str.contains(mang, case = False, na = False), 'NAICS' ] = 55.0
df.loc[df['NAICS_Group'].str.contains(admin, case = False, na = False), 'NAICS' ] = 56.0
df.loc[df['NAICS_Group'].str.contains(edu, case = False, na = False), 'NAICS' ] = 61.0
df.loc[df['NAICS_Group'].str.contains(health, case = False, na = False), 'NAICS' ] = 62.0
df.loc[df['NAICS_Group'].str.contains(arts, case = False, na = False), 'NAICS' ] = 71.0
df.loc[df['NAICS_Group'].str.contains(acco, case = False, na = False), 'NAICS' ] = 72.0
df.loc[df['NAICS_Group'].str.contains(other, case = False, na = False), 'NAICS' ] = 81.0
df.loc[df['NAICS_Group'].str.contains(pub, case = False, na = False), 'NAICS' ] = 91.0





df.to_csv('/home/jovyan/ODBiz/8-Cleaning/Not_QC.csv', index=False)

4. Fill in Province column

In [34]:

# fill in empty province column with info from local file 




df['province'].fillna(df.localfile.str.split('_').str[0], inplace= True)



df.to_csv('/home/jovyan/ODBiz/8-Cleaning/Not_QC.csv', index=False)


df['province'].value_counts(dropna = False)

ON    245961
BC    233476
AB     77097
NT      1563
MB       224
NU       223
SK       168
NB       155
NS        46
NL        33
YT        13
PE         5
Name: province, dtype: int64

In [5]:
mitosheet.sheet(df, analysis_to_replay="id-aqpwxdxlif")

MitoWidget(analysis_data_json='{"analysisName": "id-aqpwxdxlif", "analysisToReplay": null, "code": [], "stepSu…

In [ ]:
from mitosheet import *; register_analysis("id-aqpwxdxlif");
    
# Filtered city
df = df[df['city'] != 'Caesarea']

In [ ]:
from mitosheet import *; register_analysis("id-zrsdvxcust");
    
# Filtered country
df = df[df['country'].notnull()]

In [ ]:
# out of country buisnees, remove province code

# all of the idxs are for citys that exist outside of canada for sure

list = [ 'cc12dc65eaaabcf3358f' ,
'36aebf9ed3eea1c6635c',
'359bb592212a569a9c07',
'98c4d57625145b4107db',
'2777063602e9871220cd',
'96d4f92eaa0b8f77c53e',
'81e9331da2238b619ecb',
'b53425e1d3b70d134251',
'be9fed0a494d23abe636',
'ade6b9c469d6ea51cff1',
'07c05e9ea4107b2a1903',
'079651bff57f6486e732',
'2b726aa1d567b686d48c' ]

df.loc[df['idx'].isin(list) , 'province'] = np.nan


df.to_csv('/home/jovyan/ODBiz/8-Cleaning/Not_QC.csv', index=False)

9. Add in CANADA in country column

In [7]:
# fill in Canada in the country column 


df.loc[df['province'].notnull() , 'country'] = 'Canada'

In [8]:
#how many not in Canada? 

df['country'].value_counts(dropna = False)

Canada    558951
NaN           13
Name: country, dtype: int64

In [9]:
df.to_csv('/home/jovyan/ODBiz/8-Cleaning/Not_QC.csv', index=False)

 Count null values in each row

In [18]:
counts = df.isna().sum()


percentages = round(df.isna().mean() * 100, 1)


null_values = pd.concat([counts, percentages], axis=1, keys=["count null values", "%"])
print(null_values)

                      count null values      %
index                                 0    0.0
idx                                   0    0.0
localfile                             0    0.0
business_name                     29111    5.2
alt_business_name                483984   86.6
business_sector                  132533   23.7
business_subsector               457361   81.8
business_description             476539   85.3
business_id_no                   471290   84.3
licence_number                   172074   30.8
licence_type                     487046   87.1
primary_NAICS                    440555   78.8
secondary_NAICS                  542154   97.0
NAICS_descr                      454114   81.2
NAICS_descr2                     557283   99.7
alt_econ_act_code                541144   96.8
alt_econ_act_descrip             541144   96.8
latitude                         142110   25.4
longitude                        142110   25.4
full_address                      99059   17.7
full_address_2                   558031   99.8
mailing_address                  515803   92.3
postal_code                      217078   38.8
unit                             481138   86.1
street_no                        103612   18.5
street_name                       99059   17.7
street_direction                 542777   97.1
street_type                      497940   89.1
city                              27068    4.8
province                             13    0.0
country                              13    0.0
business_website                 493556   88.3
email                            516426   92.4
telephone                        427833   76.5
telephone_extension              558950  100.0
toll_free_telephone              551277   98.6
fax                              518471   92.8
total_no_employees               369046   66.0
no_full_time                     541389   96.9
no_part_time                     542798   97.1
no_seasonal                      554391   99.2
date_established                 507182   90.7
indigenous                            1    0.0
status                           338159   60.5
provider                              0    0.0
geo_source                       141092   25.2
formatted_en                      99059   17.7
formatted_fr                      99059   17.7
csdname_oda                      265782   47.5
keep_match                       206509   36.9
no_match_reason                  385013   68.9
keep_gc                          510238   91.3
geometry                              0    0.0
index_right                      143950   25.8
CSDUID                           143950   25.8
CSDNAME                          143950   25.8
PRUID                            143950   25.8
NAICS_Group                         458    0.1
NAICS                             97216   17.4

In [15]:
len(df)

558964

In [16]:
# Print the data types
# of each column


datatypes = df.dtypes
datatypes

index                   object
idx                     object
localfile               object
business_name           object
alt_business_name       object
business_sector         object
business_subsector      object
business_description    object
business_id_no          object
licence_number          object
licence_type            object
primary_NAICS           object
secondary_NAICS         object
NAICS_descr             object
NAICS_descr2            object
alt_econ_act_code       object
alt_econ_act_descrip    object
latitude                object
longitude               object
full_address            object
full_address_2          object
mailing_address         object
postal_code             object
unit                    object
street_no               object
street_name             object
street_direction        object
street_type             object
city                    object
province                object
country                 object
business_website        object
email                   object
telephone               object
telephone_extension     object
toll_free_telephone     object
fax                     object
total_no_employees      object
no_full_time            object
no_part_time            object
no_seasonal             object
date_established        object
indigenous              object
status                  object
provider                object
geo_source              object
formatted_en            object
formatted_fr            object
csdname_oda             object
keep_match              object
no_match_reason         object
keep_gc                 object
geometry                object
index_right             object
CSDUID                  object
CSDNAME                 object
PRUID                   object
NAICS_Group             object
NAICS                   object
dtype: object

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558964 entries, 0 to 558963
Data columns (total 59 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   index                 558964 non-null  object
 1   idx                   558964 non-null  object
 2   localfile             558964 non-null  object
 3   business_name         529853 non-null  object
 4   alt_business_name     74980 non-null   object
 5   business_sector       426431 non-null  object
 6   business_subsector    101603 non-null  object
 7   business_description  82425 non-null   object
 8   business_id_no        87674 non-null   object
 9   licence_number        386890 non-null  object
 10  licence_type          71918 non-null   object
 11  primary_NAICS         118409 non-null  object
 12  secondary_NAICS       16810 non-null   object
 13  NAICS_descr           104850 non-null  object
 14  NAICS_descr2          1681 non-null    object
 15  alt_econ_act_code     17820 non-null   object
 16  alt_econ_act_descrip  17820 non-null   object
 17  latitude              416854 non-null  object
 18  longitude             416854 non-null  object
 19  full_address          459905 non-null  object
 20  full_address_2        933 non-null     object
 21  mailing_address       43161 non-null   object
 22  postal_code           341886 non-null  object
 23  unit                  77826 non-null   object
 24  street_no             455352 non-null  object
 25  street_name           459905 non-null  object
 26  street_direction      16187 non-null   object
 27  street_type           61024 non-null   object
 28  city                  531896 non-null  object
 29  province              558951 non-null  object
 30  country               558951 non-null  object
 31  business_website      65408 non-null   object
 32  email                 42538 non-null   object
 33  telephone             131131 non-null  object
 34  telephone_extension   14 non-null      object
 35  toll_free_telephone   7687 non-null    object
 36  fax                   40493 non-null   object
 37  total_no_employees    189918 non-null  object
 38  no_full_time          17575 non-null   object
 39  no_part_time          16166 non-null   object
 40  no_seasonal           4573 non-null    object
 41  date_established      51782 non-null   object
 42  indigenous            558963 non-null  object
 43  status                220805 non-null  object
 44  provider              558964 non-null  object
 45  geo_source            417872 non-null  object
 46  formatted_en          459905 non-null  object
 47  formatted_fr          459905 non-null  object
 48  csdname_oda           293182 non-null  object
 49  keep_match            352455 non-null  object
 50  no_match_reason       173951 non-null  object
 51  keep_gc               48726 non-null   object
 52  geometry              558964 non-null  object
 53  index_right           415014 non-null  object
 54  CSDUID                415014 non-null  object
 55  CSDNAME               415014 non-null  object
 56  PRUID                 415014 non-null  object
 57  NAICS_Group           558506 non-null  object
 58  NAICS                 461748 non-null  object
dtypes: object(59)
memory usage: 251.6+ MB

13. unify status language 


Active - 1, OPEN, Licensed, Approved, Issued 

Not Active -  Gone out of buisness, Inactive, Cancelled, Move in porgress, invalid status code, close in progress

Pending - Pending, Pending renewal, Renewal licensed, renewal notification sent, renewal notice

In [ ]:



df['status'] = df['status'].replace(['1', 'OPEN', 'Licensed', 'Approved', 'Issued'], 'Active')


df['status'] = df['status'].replace(['Gone out of buisness', 'Inactive', 'Cancelled', 'Move in porgress', 'invalid status code', 'close in progress'], 'Not Active')


df['status'] = df['status'].replace(['Pending', 'Pending renewal', 'Renewal licensed', 'renewal notification sent', 'renewal notice'], 'Pending')




df.to_csv('/home/jovyan/ODBiz/8-Cleaning/Not_QC.csv', index=False)